@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #000300;
}

@layer base {
	button {
		@apply bg-[#7B9596] px-6 h-12 rounded cursor-pointer text-white;
	}
}

/* image grid styles */
.img-grid {
	margin: 20px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
}
.img-wrap {
	overflow: hidden;
	height: 0;
	padding: 50% 0;
	/* padding controls height, will always be perfectly square regardless of width */
	position: relative;
	opacity: 0.8;
}
.img-wrap img {
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
	position: absolute;
	top: 0;
	left: 0;
}

.img-wrap #type-image {
	min-width: 70%;
	min-height: 70%;
	max-width: 70%;
	position: absolute;
	top: 0;
	left: 0;
}

#type-name {
	padding-top: 4rem;
}
